{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% if link.url contains '#' %}
              {% if page.url contains '/ja' %}
                {% assign anchor_prefix = base_path | append: '/ja/' %}
              {% else %}
                {% assign anchor_prefix = base_path | append: '/' %}
              {% endif %}
              {% assign nav_target = anchor_prefix | append: link.url %}
            {% else %}
              {% assign nav_target = domain | append: link.url %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ nav_target }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if page.url contains '/ja' %}
            <li class="masthead__menu-item"><a href="{{ base_path }}/">English</a></li>
          {% else %}
            <li class="masthead__menu-item"><a href="{{ base_path }}/ja/">日本語</a></li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
